In [1]:
from bs4 import BeautifulSoup
import requests as req
import pandas as pd

## Part 1

# Step 1

# (a)
r = req.get('https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares')
soup = BeautifulSoup(r.content, 'html')
space_table = soup.find('table', {'class':'table'})
sw_df = pd.read_html(str(space_table))[0]
sw_df.columns = ['rank', 'x_class', 'date', 'region', 'start_time', 'max_time', 'end_time', 'movie']
sw_df

# (b)

,rank,x_class,date,region,start_time,max_time,end_time,movie
0,1,X28.0,2003/11/04,486,19:29,19:53,20:06,MovieView archive
1,2,X20.0,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2,2003/10/28,486,09:51,11:10,11:24,MovieView archive
3,4,X17.0,2005/09/07,808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive
5,6,X10.0,2003/10/29,486,20:37,20:49,21:01,MovieView archive
6,7,X9.4,1997/11/06,8100,11:49,11:55,12:01,MovieView archive
7,8,X9.3,2017/09/06,2673,11:53,12:02,12:10,MovieView archive
8,9,X9.0,2006/12/05,930,10:18,10:35,10:45,MovieView archive
9,10,X8.3,2003/11/02,486,17:03,17:25,17:39,MovieView archive
10,11,X8.2,2017/09/10,2673,15:35,16:06,16:31,MovieView archive
11,12,X7.1,2005/01/20,720,06:36,07:01,07:26,MovieView archive
12,13,X6.9,2011/08/09,1263,07:48,08:05,08:08,MovieView archive
13,14,X6.5,2006/12/06,930,18:29,18:47,19:00,MovieView archive
14,15,X6.2,2005/09/09,808,19:13,20:04,20:36,MovieView archive
15,16,X6.2,2001/12/13,9733,14:20,14:30,14:35,MovieView archive
16,17,X5.7,2000/07/14,9077,10:03,10:24,10:43,MovieView archive
17,18,X5.6,2001/04/06,9415,19:10,19:21,19:31,MovieView archive
18,19,X5.4,2012/03/07,1429,00:02,00:24,00:40,MovieView archive
19,20,X5.4,2003/10/23,486,08:19,08:35,08:49,MovieView archive
20,21,X5.4,2005/09/08,808,20:52,21:06,21:17,MovieView archive
21,22,X5.3,2001/08/25,9591,16:23,16:45,17:04,MovieView archive
22,23,X4.9,1998/08/18,8307,22:10,22:19,22:28,View archive
23,24,X4.9,2014/02/25,1990,00:39,00:49,01:03,MovieView archive
24,25,X4.8,2002/07/23,39,00:18,00:35,00:47,MovieView archive
25,26,X4.0,2000/11/26,9236,16:34,16:48,16:56,MovieView archive
26,27,X3.9,1998/08/19,8307,21:35,21:45,21:50,View archive
27,28,X3.9,2003/11/03,488,09:43,09:55,10:19,MovieView archive
28,29,X3.8,2005/01/17,720,06:59,09:52,10:07,MovieView archive
29,30,X3.7,1998/11/22,8384,06:30,06:42,06:49,MovieView archive
30,31,X3.6,2003/05/28,365,00:17,00:27,00:39,MovieView archive
31,32,X3.6,2004/07/16,649,13:49,13:55,14:01,MovieView archive
32,33,X3.6,2005/09/09,808,09:42,09:59,10:08,MovieView archive
33,34,X3.4,2006/12/13,930,02:14,02:40,02:57,MovieView archive
34,35,X3.4,2001/12/28,9767,20:02,20:45,21:32,MovieView archive
35,36,X3.3,1998/11/28,8395,04:54,05:52,06:13,MovieView archive
36,37,X3.3,2002/07/20,39,21:04,21:30,21:54,MovieView archive
37,38,X3.3,2013/11/05,1890,22:07,22:12,22:15,MovieView archive
38,39,X3.2,2013/05/14,1748,00:00,01:11,01:20,MovieView archive
39,40,X3.1,2014/10/24,2192,21:07,21:41,22:13,MovieView archive
40,41,X3.1,2002/08/24,69,00:49,01:12,01:31,MovieView archive
41,42,X3.0,2002/07/15,30,19:59,20:08,20:14,MovieView archive
42,43,X2.8,1998/08/18,8307,08:14,08:24,08:32,View archive
43,44,X2.8,2001/12/11,9733,07:58,08:08,08:14,MovieView archive
44,45,X2.8,2013/05/13,1748,15:48,16:05,16:16,MovieView archive
45,46,X2.7,2015/05/05,2339,22:05,22:11,22:15,MovieView archive
46,47,X2.7,1998/05/06,8210,07:58,08:09,08:20,MovieView archive
47,48,X2.7,2003/11/03,488,01:09,01:30,01:45,MovieView archive
48,49,X2.6,2005/01/15,720,22:25,23:02,23:31,MovieView archive
49,50,X2.6,1997/11/27,8113,12:59,13:17,13:20,MovieView archive

In [ ]:
# (c)
# First, I use requests to get the actual contente of the page. Then, I use BeautifulSoup to
# find the first 'table' tag that we want. Then, I read that into a dataframe with pandas' read_html to
# make a dataframe. The last line just changes the column names to something more appropriate.

In [2]:
# Step 2

# (a)
for index, row in sw_df.iterrows():
    
    sw_df.set_value(index, 'start_time', pd.to_datetime(row['date'] + ' ' + row['start_time']))
    sw_df.set_value(index, 'max_time', pd.to_datetime(row['date'] + ' ' + row['max_time']))
    sw_df.set_value(index, 'end_time', pd.to_datetime(row['date'] + ' ' + row['end_time']))
    
    if (row['region'] != '-' or row['region'] != '----'):
        sw_df.set_value(index, 'region', '{:04d}'.format(row['region']))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

In [3]:
sw_df.drop(columns=['date', 'movie'], inplace=True)
sw_df.replace(to_replace='-', value='NaN', inplace=True)
sw_df.replace(to_replace='----', value='NaN', inplace=True)
sw_df.rename(columns={"start_time": "start_datetime", "max_time": "max_datetime", "end_time": "end_datetime"}, inplace=True)
sw_df

# (b)

,rank,x_class,region,start_datetime,max_datetime,end_datetime
0,1,X28.0,486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20.0,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2,486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17.0,808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00
5,6,X10.0,486,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00
8,9,X9.0,930,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00
9,10,X8.3,486,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00
10,11,X8.2,2673,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00
11,12,X7.1,720,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00
12,13,X6.9,1263,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00
13,14,X6.5,930,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00
14,15,X6.2,808,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00
15,16,X6.2,9733,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00
16,17,X5.7,9077,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00
17,18,X5.6,9415,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00
18,19,X5.4,1429,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00
19,20,X5.4,486,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00
20,21,X5.4,808,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00
21,22,X5.3,9591,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00
22,23,X4.9,8307,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00
23,24,X4.9,1990,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00
24,25,X4.8,39,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00
25,26,X4.0,9236,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00
26,27,X3.9,8307,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00
27,28,X3.9,488,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00
28,29,X3.8,720,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00
29,30,X3.7,8384,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00
30,31,X3.6,365,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00
31,32,X3.6,649,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00
32,33,X3.6,808,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00
33,34,X3.4,930,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00
34,35,X3.4,9767,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00
35,36,X3.3,8395,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00
36,37,X3.3,39,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00
37,38,X3.3,1890,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00
38,39,X3.2,1748,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00
39,40,X3.1,2192,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00
40,41,X3.1,69,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00
41,42,X3.0,30,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00
42,43,X2.8,8307,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00
43,44,X2.8,9733,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00
44,45,X2.8,1748,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00
45,46,X2.7,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00
46,47,X2.7,8210,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00
47,48,X2.7,488,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00
48,49,X2.6,720,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00
49,50,X2.6,8113,1997-11-27 12:59:00,1997-11-27 13:17:00,1997-11-27 13:20:00

In [ ]:
# (c)
# I iterate through each row of the dataframe, setting the value for start, max, and end_time by combining
# the date and time values. I also make sure the region is not null before padding it with leading zeroes (if necessary).
# Finally, I drop the date and movie columns and replace all regions as '-' with 'NaN'.

In [4]:
# Step 3

# (a)
r = req.get('https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html')
soup = BeautifulSoup(r.content, 'html').prettify()
whole_table = soup.split('\n')

nasa_df = pd.DataFrame(columns=['start_date', 'start_time', 'end_date', 'end_time', 'start_frequency', 'end_frequency', 'flare_location', 'flare_region', 'flare_classification', 'cme_date', 'cme_time', 'cme_angle', 'cme_width', 'cme_speed', 'plot'])

col = ['start_date', 'start_time', 'end_date', 'end_time', 'start_frequency', 'end_frequency', 'flare_location', 'flare_region', 'flare_classification', 'cme_date', 'cme_time', 'cme_angle', 'cme_width', 'cme_speed', 'plot']
list_of_dicts = []

for i in range(20, 531):
    dict = {}
    curr_row = whole_table[i].split(" ")
    del curr_row[-2]
    tidy_row = []
    # remove bad info
    for pos in range(len(curr_row)):
        if ("href" in curr_row[pos] or "target" in curr_row[pos]):
            string = curr_row[pos]
            first_pos = string.find('>')
            second_pos = string.find('<')
            text = string[first_pos+1:second_pos]
            tidy_row.append(text)
        elif (curr_row[pos] != '' and curr_row[pos] != '<a'):
            tidy_row.append(curr_row[pos])
        if ("href" in tidy_row[-1]):
            del tidy_row[-1]
        if (tidy_row[-1] == 'PHTX'):
            break
    if (tidy_row[-1] != 'PHTX'):
        del tidy_row[-1]
    for x in range(len(tidy_row)):
        dict[col[x]] = tidy_row[x]
    list_of_dicts.append({"start_date": tidy_row[0], "start_time": tidy_row[1], "end_date": tidy_row[2], 'end_time': tidy_row[3], 'start_frequency': tidy_row[4], 'end_frequency': tidy_row[5], 'flare_location': tidy_row[6], 'flare_region': tidy_row[7], 'flare_classification': tidy_row[8], 'cme_date': tidy_row[9], 'cme_time': tidy_row[10], 'cme_angle': tidy_row[11], 'cme_width': tidy_row[12], 'cme_speed': tidy_row[13], 'plot': tidy_row[14]})
    
for i in range(len(list_of_dicts)):
    nasa_df = nasa_df.append(list_of_dicts[i], ignore_index='True')
    
# (b)
nasa_df

,start_date,start_time,end_date,end_time,start_frequency,end_frequency,flare_location,flare_region,flare_classification,cme_date,cme_time,cme_angle,cme_width,cme_speed,plot
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,74,79,312,PHTX
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,Halo,360,878,PHTX
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,Halo,360,464,PHTX
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,263,165,296,PHTX
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,133,155,712,PHTX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,2016/02/05,20:28,02/05,23:31,1650,500,------,-----,----,--/--,--:--,----,---,----,PHTX
507,2016/02/05,22:35,02/05,22:55,5200,1900,------,-----,----,02/05,21:24,193,155,445,PHTX
508,2016/05/04,14:20,05/04,14:34,14000,10500,N06W61,12535,C1.3,05/04,14:12,255,134,390,PHTX
509,2016/05/24,17:00,05/24,20:50,1500,700,------,-----,----,--/--,--:--,----,---,----,PHTX
510,2016/08/15,18:21,08/15,18:28,11000,3400,------,-----,----,08/15,17:24,75,98,633,PHTX

In [ ]:
# (c)
# First, I get the HTML content. I then do a ton of tidying on the data for each line.
# Afterwards, I make a list of dictionaries, get each row from the table, and split it up by space to get
# each element. Now that I have a dictionary for each row, its simple to add each row to the dataframe.

In [5]:
# Step 4

# (a)
nasa_df.replace(to_replace='------', value='NaN', inplace=True)
nasa_df.replace(to_replace='-----', value='NaN', inplace=True)
nasa_df.replace(to_replace='----', value='NaN', inplace=True)
nasa_df.replace(to_replace='---', value='NaN', inplace=True)
nasa_df.replace(to_replace='????', value='NaN', inplace=True)
nasa_df.replace(to_replace='--/--', value='NaN', inplace=True)
nasa_df.replace(to_replace='--:--', value='NaN', inplace=True)

nasa_df['is_halo'] = False
nasa_df['width_lower_bound'] = False

for index, row in nasa_df.iterrows():
        
    if (row['cme_angle'] == 'Halo'):
        nasa_df.set_value(index, 'is_halo', True)
        nasa_df.set_value(index, 'cme_angle', 'NA')
    if ('&gt;' in row['cme_width'] or '>' in row['cme_width']):
        string = row['cme_width']
        nasa_df.set_value(index, 'width_lower_bound', True)
        nasa_df.set_value(index, 'cme_width', string[4:])
    if (row['start_time'] == '24:00'):
        row['start_time'] = '23:59'
    if (row['end_time'] == '24:00'):
        row['end_time'] = '23:59'
    if (row['cme_time'] == '24:00'):
        row['cme_time'] = '23:59'
    
    nasa_df.set_value(index, 'end_date', pd.to_datetime((row['start_date'][:4] + "/" + row['end_date'])))
    nasa_df.set_value(index, 'cme_date', pd.to_datetime((row['start_date'][:4] + "/" + row['cme_date'])))
    
    #print("end_time: " + row['end_time'])
    #print("end_date: " + row['end_date'])
    
    #nasa_df.set_value(index, 'start_time', pd.to_datetime(row['start_date'] + ' ' + row['start_time']))
    #nasa_df.set_value(index, 'end_time', pd.to_datetime(row['end_date'] + ' ' + row['end_time']))
    #nasa_df.set_value(index, 'cme_time', pd.to_datetime(row['cme_date'] + ' ' + row['cme_time']))

nasa_df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:31: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

ValueError: ('Unknown string format:', '2000/NaN')

In [ ]:
# (c)
# First, I remove all bad/missing data with 'NaN'. I then make two new columns, is_halo and width_lower_bound, and go through
# each row in the dataframe to see if the solar flare is a halo and if the width is a lower bound. I also combine the date and time

In [ ]:
# Part 2

# Question 1

question1_df = nasa_df.copy()

for index, row in question1_df.iterrows():
    if (row['flare_classification'][-1] == '.'):
        question1_df.set_value(index, 'flare_classification', row['flare_classification'][:-1])

for index, row in question1_df.iterrows():
    curr = row['flare_classification']
    if (curr != 'NaN' and curr != 'FILA'):
        original_tuple = (row['flare_classification'][0], (float)(row['flare_classification'][1:]))
    else:
        original_tuple = ('A', -1)
        
    question1_df.set_value(index, 'flare_classification', original_tuple)
    
question1_df = question1_df.sort_values(by='flare_classification', ascending=False)
question1_df.drop(columns=['start_frequency', 'cme_width', 'end_frequency', 'flare_location', 'cme_date', 'cme_angle', 'cme_speed', 'plot', 'width_lower_bound'], inplace=True)
cols = question1_df.columns.tolist()
cols = [cols[-3]] + [cols[0]] + [cols[4]] + [cols[1]] + [cols[-2]] + [cols[3]] + [cols[-1]]
question1_df = question1_df[cols]

for index, row in question1_df.iterrows():
    val = row['flare_classification']
    if (val[1] == -1):
        question1_df.set_value(index, 'flare_classification', 'NaN')
    else:
        question1_df.set_value(index, 'flare_classification', val[0] + str(val[1]))

analysis_df = question1_df.copy()
question1_df.drop(columns=['is_halo'], inplace=True)

question1_df.head(50)

In [ ]:
# The table you get when trying to replicate SpaceWeather data with NASA data is close, but some solar flares
# are definitely missing or just not labeled correctly. The region numbers are also sometimes different, 
# with the times being off as well. In general, however, the order of flares is correct.

In [ ]:
# Question 2

question2_df = question1_df.copy()
question2_df['rank according to SW'] = 'NaN'

def getBestMatchingRowFromNASAdata(SW_row):
    
    for index, row in question2_df.iterrows():
        if ((row['flare_classification'] in SW_row['x_class']) and (SW_row['region'] in row['region']) 
            and ((SW_row['start_datetime'] > (row['start_datetime'] - datetime.timedelta(days=5)))
              and (SW_row['start_datetime'] < (row['start_datetime'] + datetime.timedelta(days=5)))) 
           and ((SW_row['end_datetime'] > (row['end_datetime'] - datetime.timedelta(days=5)))
             and (SW_row['end_datetime'] < (row['end_datetime'] + datetime.timedelta(days=5))))
           and ((SW_row['cme_datetime'] > (row['cme_datetime'] - datetime.timedelta(days=5)))
             and (SW_row['cme_datetime'] < (row['cme_datetime'] + datetime.timedelta(days=5))))):
            question2_df.set_value(index, 'rank according to SW', SW_row['rank'])
            
# Explanation: There's a few things I'm trying to match here: First, the classification itself. The NASA data isn't as pinpoint
# as SW (SpaceWeather), so I check to see if the SW row at least contains the NASA classification. Then, I check if the SW region
# is contained within the NASA region, since the NASA regions tend to have extra numbers. Finally, I check the start, end, and
# cme dates within an error of +-5 days, since its understandable that the days will not exactly match up. Thus, we end up with a
# one-to-many matching, since many rows in the NASA data can match the one specific row we're looking at from SW, as I'm
# not trying to be too picky with my criteria.

# PS: if this section ends up outputting an error, then I ended up not being able to correctly make the datetime columns
# for the NASA data. Hopefully, my explanation / logic is good, though!

In [ ]:
# Question 3

# (b)

halos_top50 = 0
halos_dataset = 0

for index, row in analysis_df.head(50).iterrows():
    if (row['is_halo'] == True):
        halos_top50 += 1

for index, row in analysis_df.iterrows():
    if (row['is_halo'] == True):
        halos_dataset += 1

halos_top50 = (halos_top50 / 50.0) * 100
halos_dataset = (halos_dataset / 511.0) * 100

graph = pd.DataFrame({'% of Halos in Top 50': halos_top50, '% of Halos in whole dataset': halos_dataset}, index=['% of Halos'])

print(graph.plot.bar(rot=0))

In [ ]:
# (a): The intent of this plot is to figure out how much larger (if at all) the % of halos in the top 50 is compared to
# the entire dataset.

# (b): Above

# (c): Bar plot, two bars. Shows percentage of halos for just the top 50 strongest solar flares (blue), and the
# percentage of halos in the entire dataset (orange).

# (d): The average % of halos (from the dataset) is about 50%, while the % of halos in the top 50
# is 80%, so we are justified in saying that there is a correlation between how strong the solar flare is 
# and whether that solar flare is a halo. It seems that the stronger the solar flare, the higher the chance
# of it being a halo.